<div class="container start">
    <h1 class="start-title text-center h1 text-secondary mt-3 mb-3">Welcome!!!</h1>
    <div class="espace">
        <p class="d-block mx-auto w-25 btn btn-secondary"><a href="<%= new_user_session_path %>">LOG IN</a></p>
        <p class="d-block mx-auto w-25 btn btn-secondary"><a href="<%= new_user_registration_path %>">SIGN UP</a></p>  
    </div>
</div>